
<div class="house-wrapper">
  <div class="container">
    
    <div class="house-info">
      <div class="house-title">
        <p class="title"><%= @house.lastname %></p>
      </div>
      <table class="home-top">
        <thead class="head-house">
          <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>City</th>
            <th>People</th>
            <th>Child</th>
          </tr>
        </thead>
        <tbody>
          <tr class="head-tr">
            <td><p><%= @house.id %></p></td>
            <td><p><%= @house.firstname %></p></td>
            <td><p><%= @house.lastname %></p></td>
            <td><p><%= @city_name[@house.city_id - 1].name %></p></td>
            <td><p><%= @house.num_of_people %></p></td>
            <td><p><%= @house.has_child == 1 ? "Yes" : "No" %></p></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="house-chart-wrapper">
      <% @years.length.times do |i| %>
        <div class="house-chart">
          <%= high_chart("chart#{i}", @charts[i]) %>
        </div>
      <% end %>
    </div>

      
  </div>
</div>